.order {
  padding: 40px;
  margin: 20px 0;
  border: 1px solid lightgray;
  background-color: #fff;
  position: relative;

  .orderTitle {
    color: grey;
  }

  > div:first-child {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .paymentId {
    h4 {
      text-align: right;
      color: #8d8080;
    }
  }

  .orderTotal {
    font-weight: 500;
    text-align: right;
  }
}

@media (max-width: 500px) {
  .items {
    display: flex;
    flex-wrap: wrap;
  }

  .order {
    .paymentId {
      h4 {
        text-align: left;
      }
      margin: 10px 0;
    }
  }

  .orderTitle {
    width: 90%;
    word-wrap: break-word;
  }
}
